<div class="parking-places-table-wrapper">
    <div class="row">
        <div class="col-10">
            <div class="parking-places-table__add-button-wrapper">
                <button class="btn btn-primary" (click)="onEditButtonClick(0)">+</button>
            </div>
            <div class="parking-places-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{'Title' | translateAsync}}</th>
                            <th scope="col">{{'Occupancy' | translateAsync}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parkingPlace of parkingPlaces$ | async; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ parkingPlace.name }}</td>
                            <td>{{ parkingPlace.isOccupied ? ('Occupied' | translateAsync) : ('Free' | translateAsync) }}</td>
                            <td><button type="button" class="btn btn-primary" (click)="onEditButtonClick(parkingPlace.id)">{{'edit' | translateAsync}}</button></td>
                            <td><button type="button" class="btn btn-danger" (click)="onDeleteButtonClick(parkingPlace.id)">{{'delete' | translateAsync}}</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-2">
            <div class="mt-5">
                <div class="form-group mb-3">
                    <label for="dateFrom">{{'From' | translateAsync}}</label>
                    <input type="date" class="form-control" id="dateFrom">
                </div>
                <div class="form-group mb-3">
                    <label for="dateto">{{'To' | translateAsync}}</label>
                    <input type="date" class="form-control" id="dateTo">
                </div>
                <button (click)="onGetParkingStatsButtonClick()" type="button" class="btn btn-success">{{'GetParkingStatistics' | translateAsync}}</button>    
            </div>
        </div>
    </div>
</div>